Data Analyse - 박길식교수님/Koweps_Codebook.xlsx
Data Analyse - 박길식교수님/Data/koweps.sav
Data Analyse - 박길식교수님/Data/Koweps_Codebook.xlsx
Data Analyse - 박길식교수님/project_emotion.R
Data Analyse - 박길식교수님/review.txt
